<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/FRACOM00 :: HEAD('기본 CRUD 그리드 샘플')">
    <title>Dashboard</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <!-- Begin:: 공통 프래그먼트 > SIDEBAR -->
        <div class="col-2 shadow-sm">
            <div th:replace="fragments/FRACOM00 :: SIDEBAR('sample00')"></div>
        </div>
        <!-- End:: 공통 프래그먼트 > SIDEBAR -->

        <!-- Begin:: 그리드 영역 -->
        <div class="col-10 border-start">
            <div class="row">
                <div class="col-12 ps-0 pe-0">
                    <!-- Begin:: 공통 프래그먼트 > NAVBAR -->
                    <nav th:replace="fragments/FRACOM00 :: NAVBAR"></nav>
                    <!-- End:: 공통 프래그먼트 > NAVBAR -->
                </div>
            </div>
            <div class="row">
                <!-- Begin:: 그리드 필터 영역 -->
                <div class="col-2 bg-light border-end">
                    <h3 class="fw-semibold mt-3 mb-3" style="cursor: default">Filter</h3>
                    <div class="border-bottom mb-3"></div>
                    <div class="mb-3">
                        <label class="form-label" for="iptFilterVocabulary">단어장</label>
                        <input class="form-control form-control-sm" list="dlVocabulary" id="iptFilterVocabulary"
                               placeholder="search...">
                        <datalist id="dlVocabulary">
                            <option value="일본어 초등학교 상용한자">
                        </datalist>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="iptFilterCategory">카테고리</label>
                        <input class="form-control form-control-sm" list="dlCategory" id="iptFilterCategory"
                               placeholder="search...">
                        <datalist id="dlCategory">
                            <option value="초등학교 1학년 한자">
                        </datalist>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="iptFilterKanji">한자</label>
                        <input class="form-control form-control-sm" list="dlKanji" id="iptFilterKanji"
                               placeholder="search...">
                        <datalist id="dlKanji">
                            <option value="日">
                        </datalist>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="iptFilterWord">단어</label>
                        <input class="form-control form-control-sm" list="dlWord" id="iptFilterWord"
                               placeholder="search...">
                        <datalist id="dlWord">
                            <option value="日本">
                        </datalist>
                    </div>

                    <div class="d-flex justify-content-between">
                        <button class="btn btn-light btn-sm shadow-sm">
                            <i class="fas fa-arrow-rotate-right me-1"></i>
                            초기화
                        </button>
                        <button class="btn btn-primary btn-sm shadow-sm">
                            <i class="fas fa-magnifying-glass me-1"></i>
                            검색
                        </button>
                    </div>
                </div>
                <!-- End:: 그리드 필터 영역 -->

                <!-- Begin:: 그리드 콘텐츠 영역 -->
                <div class="col-10 ps-0 pe-0">
                    <div class="content p-3">
                        <!-- Begin:: 관리자 페이지 제목 -->
                        <div class="row">
                            <div class="col-12">
                                <h3 class="fw-semibold mb-3" style="cursor: default">
                                    단어장
                                </h3>
                            </div>
                        </div>
                        <!-- End:: 관리자 페이지 제목 -->

                        <div class="border-bottom mb-5"></div>

                        <!-- Begin:: 관리자 페이지 상단 그리드 -->
                        <div class="row">
                            <!-- Begin:: 관리자 페이지 상단 그리드 AG Grid -->
                            <div id="myGrid" style="height: 40vh; width:100%;"
                                 class="ag-theme-material pb-3 border-bottom"></div>
                            <!-- End:: 관리자 페이지 상단 그리드 AG Grid -->
                        </div>
                        <!-- End:: 관리자 페이지 상단 그리드 -->

                        <!-- Begin:: 관리자 페이지 하단 그리드 Tabs navs -->
                        <ul class="nav nav-tabs mb-3" id="ex-with-icons" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="ex-with-icons-tab-1" data-mdb-toggle="tab"
                                   href="#ex-with-icons-tabs-1" role="tab"
                                   aria-controls="ex-with-icons-tabs-1" aria-selected="true">
                                    <i class="far fa-square-plus fa-fw me-2"></i>
                                    등록
                                </a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="ex-with-icons-tab-2" data-mdb-toggle="tab"
                                   href="#ex-with-icons-tabs-2" role="tab"
                                   aria-controls="ex-with-icons-tabs-2" aria-selected="false">
                                    <i class="fas fa-pen-to-square fa-fw me-2"></i>
                                    수정
                                </a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="ex-with-icons-tab-3" data-mdb-toggle="tab"
                                   href="#ex-with-icons-tabs-3" role="tab"
                                   aria-controls="ex-with-icons-tabs-3" aria-selected="false">
                                    <i class="far fa-trash-can fa-fw me-2"></i>
                                    삭제
                                </a>
                            </li>
                        </ul>
                        <!-- End:: 관리자 페이지 하단 그리드 Tabs navs -->

                        <!-- Begin:: 관리자 페이지 하단 그리드 Tabs content -->
                        <div class="tab-content" id="ex-with-icons-content">
                            <!-- Begin:: 관리자 페이지 하단 그리드 등록 Tab -->
                            <div class="tab-pane fade show active" id="ex-with-icons-tabs-1" role="tabpanel"
                                 aria-labelledby="ex-with-icons-tab-1">
                                <div class="row mb-3">
                                    <div class="col d-flex justify-content-end">
                                        <button name="dbUpdateBtn" class="btn btn-primary btn-sm">
                                            <i class="far fa-hard-drive me-1"></i>
                                            DB 반영
                                        </button>
                                        <button name="addRowBtn" class="btn btn-info btn-sm ms-2">
                                            <i class="fas fa-circle-plus me-1"></i>
                                            행 추가
                                        </button>
                                        <button name="deleteRowBtn" class="btn btn-danger btn-sm ms-2">
                                            <i class="fas fa-circle-minus me-1"></i>
                                            행 삭제
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- Begin:: 관리자 페이지 하단 그리드 등록 Tab AG Grid -->
                                    <div id="addGrid" style="height: 20vh; width:100%;"
                                         class="ag-theme-material"></div>
                                    <!-- End:: 관리자 페이지 하단 그리드 등록 Tab AG Grid -->
                                </div>
                                <!-- Begin:: GROUP Cell 더블 클릭 모달창 -->
                                <div class="modal fade" id="addModal" tabindex="-1"
                                     aria-labelledby="addModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="addModalLabel">Group</h5>
                                                <button type="button" class="btn-close" data-mdb-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <select class="form-select" aria-label="Default select example">
                                                    <option value="1" selected>漢字별 단어장</option>
                                                    <option value="2">JLPT 단어장</option>
                                                </select>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                        data-mdb-dismiss="modal">
                                                    취소
                                                </button>
                                                <button type="button" class="btn btn-primary"
                                                        id="addBtnGroupSelection">
                                                    선택
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End:: GROUP Cell 더블 클릭 모달창 -->
                            </div>
                            <!-- End:: 관리자 페이지 하단 그리드 등록 Tab -->

                            <!-- Begin:: 관리자 페이지 하단 그리드 수정 Tab -->
                            <div class="tab-pane fade" id="ex-with-icons-tabs-2" role="tabpanel"
                                 aria-labelledby="ex-with-icons-tab-2">
                                <div class="row mb-3">
                                    <div class="col d-flex justify-content-end">
                                        <button name="dbUpdateBtn" class="btn btn-primary btn-sm">
                                            <i class="far fa-hard-drive me-1"></i>
                                            DB 반영
                                        </button>
                                        <button name="deleteRowBtn" class="btn btn-danger btn-sm ms-2" disabled>
                                            <i class="fas fa-circle-minus me-1"></i>
                                            행 삭제
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- Begin:: 관리자 페이지 하단 그리드 수정 Tab AG Grid -->
                                    <div id="editGrid" style="height: 20vh; width:100%;"
                                         class="ag-theme-material"></div>
                                    <!-- End:: 관리자 페이지 하단 그리드 수정 Tab AG Grid -->
                                </div>
                                <!-- Begin:: GROUP Cell 더블 클릭 모달창 -->
                                <div class="modal fade" id="editModal" tabindex="-1"
                                     aria-labelledby="editModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="editModalLabel">Group</h5>
                                                <button type="button" class="btn-close" data-mdb-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <select class="form-select" aria-label="Default select example">
                                                    <option value="1" selected>漢字별 단어장</option>
                                                    <option value="2">JLPT 단어장</option>
                                                </select>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                        data-mdb-dismiss="modal">
                                                    취소
                                                </button>
                                                <button type="button" class="btn btn-primary"
                                                        id="editBtnGroupSelection">
                                                    선택
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End:: GROUP Cell 더블 클릭 모달창 -->
                            </div>
                            <!-- End:: 관리자 페이지 하단 그리드 수정 Tab -->

                            <!-- Begin:: 관리자 페이지 하단 그리드 삭제 Tab -->
                            <div class="tab-pane fade" id="ex-with-icons-tabs-3" role="tabpanel"
                                 aria-labelledby="ex-with-icons-tab-3">
                                <div class="row mb-3">
                                    <div class="col d-flex justify-content-end">
                                        <button name="dbUpdateBtn" class="btn btn-primary btn-sm">
                                            <i class="far fa-hard-drive me-1"></i>
                                            DB 반영
                                        </button>
                                        <button name="deleteRowBtn" class="btn btn-danger btn-sm ms-2" disabled>
                                            <i class="fas fa-circle-minus me-1"></i>
                                            행 삭제
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- Begin:: 관리자 페이지 하단 그리드 삭제 Tab AG Grid -->
                                    <div id="deleteGrid" style="height: 20vh; width:100%;"
                                         class="ag-theme-material"></div>
                                    <!-- End:: 관리자 페이지 하단 그리드 삭제 Tab AG Grid -->
                                </div>
                            </div>
                            <!-- End:: 관리자 페이지 하단 그리드 삭제 Tab -->
                        </div>
                        <!-- End:: 관리자 페이지 하단 그리드 Tabs content -->
                    </div>
                </div>
                <!-- End:: 그리드 콘텐츠 영역 -->
            </div>
        </div>
        <!-- End:: 그리드 영역 -->
    </div>
</div>

<!-- Begin:: Bootstrap 5 MDB -->
<div th:replace="fragments/FRACOM00 :: BOOTSTRAP"></div>
<!-- End:: Bootstrap 5 MDB -->
</body>

<!--
    https://www.ag-grid.com/javascript-data-grid/getting-started/
-->
<script type="text/javascript">
    // ──────────────────────────────────────────────────────────────────────────────────────────────
    // 관리자 페이지 상단 그리드

    const columnDefs = [
        {
            pinned: "left",
            sortable: false,
            filter: false,
            resizable: false,
            checkboxSelection: true,
            // multiple 선택 시 필요
            headerCheckboxSelection: true,
            width: 80,
        },
        {headerName: "#", field: "id", width: 120, cellDataType: 'number',},
        {headerName: "TITLE", field: "title",},
        {headerName: "INTRODUCTION", field: "introduction", width: 272},
        {headerName: "GROUP", field: "group"}
    ];

    const defaultColDef = {
        editable: false,
        sortable: true,
        filter: true,
        resizable: true,
        floatingFilter: true,
    }

    // specify the data
    const rowData = [
        {
            id: 1,
            title: "일본어 초등학교 상용한자",
            introduction: "일본 초등학교 필수 상용한자 1026자 수록",
            group: "漢字별 단어장"
        },
        {
            id: 2,
            title: "일본어 중학교 상용한자",
            introduction: "일본 중학교 필수 상용한자 1110자 수록",
            group: "漢字별 단어장"
        },
    ];

    // let the grid know which columns and what data to use
    const gridOptions = {
        columnDefs: columnDefs,
        rowData: rowData,
        defaultColDef: defaultColDef,
        suppressRowClickSelection: true,
        groupSelectsChildren: true,

        // 상단 그리드 선택 이벤트 핸들러
        onRowSelected: onRowSelected,

        localeText: {
            noRowsToShow: 'No Rows',
        },

        // 체크박스 단일, 다중 선택 옵션
        rowSelection: 'multiple', // single, multiple
        pagination: true,
    };

    // ──────────────────────────────────────────────────────────────────────────────────────────────
    // 관리자 페이지 하단 그리드 등록 Tab

    const addColumnDefs = [
        {
            pinned: "left",
            sortable: false,
            filter: false,
            resizable: false,
            editable: false,
            checkboxSelection: true,
            // multiple 선택 시 필요
            headerCheckboxSelection: true,
            width: 80,
        },
        {headerName: "TITLE", field: "title",},
        {headerName: "INTRODUCTION", field: "introduction", width: 392},
        {
            headerName: "GROUP",
            field: "group",
            editable: false,
        },
    ];

    const addDefaultColDef = {
        editable: true,
        sortable: true,
        filter: true,
        resizable: true,
        floatingFilter: false,
    }

    // specify the data
    const addRowData = [
    ];

    // let the grid know which columns and what data to use
    const addGridOptions = {
        columnDefs: addColumnDefs,
        rowData: addRowData,
        defaultColDef: addDefaultColDef,
        suppressRowClickSelection: true,
        groupSelectsChildren: true,

        // 체크박스 단일, 다중 선택 옵션
        rowSelection: 'multiple', // single, multiple
        pagination: false,

        localeText: {
            noRowsToShow: 'No Rows',
        },

        // Gruop 더블 클릭 시 모달 창 생성
        onCellDoubleClicked: function (params) {
            const colId = params.column.colId;

            if (colId === 'group') {
                handleCellDoubleClicked(params, 'add');
                console.log("add");
            }
        },
    };


    // 행 추가
    document.getElementsByName("addRowBtn")[0].addEventListener('click',addNewRow);

    function addNewRow() {
        const newRow = {};
        const gridApi = addGridOptions.api;
        gridApi.applyTransaction({add: [newRow]});
    }

    // 행 삭제
    document.getElementsByName("deleteRowBtn")[0].addEventListener('click',addGridDeleteRow);

    function addGridDeleteRow() {
        const gridApi = addGridOptions.api;
        const selectedRows = gridApi.getSelectedRows();
        gridApi.applyTransaction({remove: selectedRows});
    }

    // DB 반영
    document.getElementsByName("dbUpdateBtn")[0].addEventListener('click',addGridUpdateRow);

    function addGridUpdateRow() {
        const gridApi = addGridOptions.api;
        const allRowsData = gridApi.getModel().rowsToDisplay.map(row => row.data);
        console.log(allRowsData);
        gridOptions.api.applyTransaction({add: allRowsData });
        gridApi.applyTransaction({ remove: allRowsData });
        addGridOptions.api.refreshCells({force: true});
    }


    // ──────────────────────────────────────────────────────────────────────────────────────────────
    // 관리자 페이지 하단 그리드 수정 Tab


    const editColumnDefs = [
        {
            pinned: "left",
            sortable: false,
            filter: false,
            resizable: false,
            editable: false,
            checkboxSelection: false,
            // multiple 선택 시 필요
            headerCheckboxSelection: false,
            width: 80,
        },
        {headerName: "#", field: "id", width: 120, editable: false, cellDataType: 'number',
            cellStyle: {'background-color': '#F4F4F4'}},
        {headerName: "TITLE", field: "title",},
        {headerName: "INTRODUCTION", field: "introduction", width: 392},
        {
            headerName: "GROUP",
            field: "group",
            editable: false,
        },
    ];


    const editDefaultColDef = {
        editable: true,
        sortable: true,
        filter: true,
        resizable: true,
        floatingFilter: false,
    }

    const editRowData = [];

    const editGridOptions = {
        columnDefs: editColumnDefs,
        rowData: editRowData,
        defaultColDef: editDefaultColDef,
        suppressRowClickSelection: true,
        groupSelectsChildren: true,

        // 체크박스 단일, 다중 선택 옵션
        rowSelection: 'multiple', // single, multiple
        pagination: false,

        localeText: {
            noRowsToShow: 'No Rows',
        },

        // Gruop 더블 클릭 시 모달 창 생성
        onCellDoubleClicked: function (params) {
            const colId = params.column.colId;

            if (colId === 'group') {
                handleCellDoubleClicked(params, 'edit');
                 console.log("edit");
            }
        },
    };


    // DB 반영
    document.getElementsByName("dbUpdateBtn")[1].addEventListener('click',editGridUpdateRow);

    function editGridUpdateRow() {
        const gridApi = editGridOptions.api;
        const allRowsData = gridApi.getModel().rowsToDisplay.map(row => row.data);
        console.log(allRowsData);
        gridOptions.api.applyTransaction({update: allRowsData});
        deleteGridOptions.api.refreshCells({force: true});
    }

    // ──────────────────────────────────────────────────────────────────────────────────────────────
    // 관리자 페이지 하단 그리드 삭제 Tab

        const deleteColumnDefs = [
        {
            pinned: "left",
            sortable: false,
            filter: false,
            resizable: false,
            checkboxSelection: false,
            // multiple 선택 시 필요
            headerCheckboxSelection: false,
            width: 80,
        },
        {headerName: "#", field: "id", width: 120, cellDataType: 'number',},
        {headerName: "TITLE", field: "title",},
        {headerName: "INTRODUCTION", field: "introduction", width: 392},
        {
            headerName: "GROUP",
            field: "group",
            editable: false,
        },
    ];


    const deleteDefaultColDef = {
        editable: false,
        sortable: true,
        filter: true,
        resizable: true,
        floatingFilter: false,
    }

    const deleteRowData = [];

    const deleteGridOptions = {
        columnDefs: deleteColumnDefs,
        rowData: deleteRowData,
        defaultColDef: deleteDefaultColDef,
        suppressRowClickSelection: true,
        groupSelectsChildren: true,
        rowStyle: { background: '#F4F4F4' },

        // 체크박스 단일, 다중 선택 옵션
        rowSelection: 'multiple', // single, multiple
        pagination: false,

        localeText: {
            noRowsToShow: 'No Rows',
        },
    };


    // 행 삭제
    // 삭제 Rows 저장 변수
    var deletedRows;

    document.getElementsByName("deleteRowBtn")[2].addEventListener('click',deleteGridDeleteRow);

    function deleteGridDeleteRow() {
        const gridApi = deleteGridOptions.api;
        const selectedRows = gridApi.getSelectedRows();
        gridApi.applyTransaction({remove: selectedRows});
    }

    // DB 반영
    document.getElementsByName("dbUpdateBtn")[2].addEventListener('click',deleteGridUpdateRow);

    function deleteGridUpdateRow() {
        const gridApi = deleteGridOptions.api;
        const allRowsData = gridApi.getModel().rowsToDisplay.map(row => row.data);
        console.log(allRowsData);
        gridOptions.api.applyTransaction({remove: allRowsData});
        gridApi.applyTransaction({remove: allRowsData});
        deleteGridOptions.api.refreshCells({force: true});
    }

    // ──────────────────────────────────────────────────────────────────────────────────────────────
    // 공통

    // 상단 그리드의 selectedRowData 를 가져오는 함수
    function getGridRowData() {
        var api = gridOptions.api;
        var selectedRows = api.getSelectedRows();
        return selectedRows;
    }

    // 셀 선택 이벤트 함수
    // 수정, 삭제 그리드 rowData 설정
    function onRowSelected(event) {
        const editGridApi = editGridOptions.api;
        const deleteGridApi = deleteGridOptions.api;
        const selectedRowData = getGridRowData();
        editGridApi.setRowData(selectedRowData);
        deleteGridApi.setRowData(selectedRowData);
    }


    // 특정 셀에 값을 추가하는 함수
    function addValueToCell(options, rowIndex, columnId, valueToAdd) {
        const gridApi = options.api;
        const rowNode = gridApi.getDisplayedRowAtIndex(rowIndex);
        rowNode.setDataValue(columnId, valueToAdd);
        gridApi.refreshCells({force: true});
    }


    // 셀 더블 클릭 이벤트 함수
    function handleCellDoubleClicked(params, gridType) {
        const colId = params.column.colId;
        const rowNode = params.node;
        const colDef = params.colDef;
        const cellValue = params.value;
        const rowIndex = rowNode.rowIndex;

        const modalId = gridType === 'add' ? 'addModal' : 'editModal';
        const btnGroupSelectionId = gridType === 'add' ? 'addBtnGroupSelection' : 'editBtnGroupSelection';

        const groupSelectionModal = new mdb.Modal(document.getElementById(modalId));
        groupSelectionModal.show();

        // 모달창에서 선택한 옵션을 받아오는 변수
        var selectedOption = "";

        // Group 추가
        $("#" + btnGroupSelectionId).off('click').on('click', function () {
            console.log("Cell 정보");
            console.table(rowNode);
            console.table(colDef);
            console.log("rowIndex = " + rowIndex);

            const optionValuesMapping = {
                "1": "漢字별 단어장",
                "2": "JLPT 단어장",
            };

            selectedOption = optionValuesMapping[$("#" + modalId + ' select').val()];
            console.log(selectedOption);

            if (gridType === 'add') {
                addValueToCell(addGridOptions, params.node.rowIndex, params.column.colId, selectedOption);
            } else {
                addValueToCell(editGridOptions, params.node.rowIndex, params.column.colId, selectedOption);
            }
            groupSelectionModal.hide();
        });
    }

    // ──────────────────────────────────────────────────────────────────────────────────────────────
    // setup the grid after the page has finished loading

    document.addEventListener('DOMContentLoaded', () => {
        const gridDiv = document.querySelector('#myGrid');
        const addGridDiv = document.querySelector("#addGrid");
        const editGridDiv = document.querySelector("#editGrid");
        const deleteGridDiv = document.querySelector("#deleteGrid");

        new agGrid.Grid(gridDiv, gridOptions);
        new agGrid.Grid(addGridDiv, addGridOptions);
        new agGrid.Grid(editGridDiv, editGridOptions);
        new agGrid.Grid(deleteGridDiv, deleteGridOptions);
    });


</script>

</html>