<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/FRACOM00 :: HEAD('한자 관리')">
    <title>Dashboard</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <!-- Begin:: 공통 프래그먼트 > SIDEBAR -->
        <div class="col-2 shadow-sm">
            <div th:replace="fragments/FRACOM00 :: SIDEBAR('kanji')"></div>
        </div>
        <!-- End:: 공통 프래그먼트 > SIDEBAR -->

        <!-- Begin:: 그리드 영역 -->
        <div class="col-10 border-start">
            <div class="row">
                <div class="col-12 ps-0 pe-0">
                    <!-- Begin:: 공통 프래그먼트 > NAVBAR -->
                    <nav th:replace="fragments/FRACOM00 :: NAVBAR"></nav>
                    <!-- End:: 공통 프래그먼트 > NAVBAR -->
                </div>
            </div>
            <div class="row">
                <!-- Begin:: 그리드 필터 영역 -->
                <div id="filterArea" class="col-2 bg-light border-end">
                    <div id="filterAreaBox">
                        <h3 class="fw-semibold mt-3 mb-3" style="cursor: default">Filter</h3>
                        <div class="border-bottom mb-3"></div>
                        <div class="mb-3">
                            <label class="form-label" for="selectFilterVocabulary">단어장</label>
                            <select class="form-select form-select-sm" id="selectFilterVocabulary">
                                <option value="" disabled selected hidden>SELECT...</option>
                            </select>
                        </div>
                        <div class="d-flex justify-content-between">
                            <button class="btn btn-light btn-sm shadow-sm" onclick="filterInit()">
                                <i class="fas fa-arrow-rotate-right me-1"></i>
                                초기화
                            </button>
                            <button class="btn btn-primary btn-sm shadow-sm" onclick="filterSearch()">
                                <i class="fas fa-magnifying-glass me-1"></i>
                                검색
                            </button>
                        </div>
                    </div>
                </div>


                <!-- Begin:: 그리드 왼쪽 콘텐츠 영역 -->
                <div class="col-3 p-3 border-end">
                    <!-- Begin:: 그리드 왼쪽 콘텐츠 제목  -->
                    <div class="row">
                        <div class="col-12">
                            <h3 class="fw-semibold mb-3" style="cursor: default">
                                카테고리
                            </h3>
                        </div>
                    </div>
                    <!-- End:: 그리드 왼쪽 콘텐츠 제목-->

                    <div class="border-bottom mb-5"></div>

                    <!-- Begin:: 그리드 왼쪽 콘텐츠 그리드 AG Grid -->
                    <div id="leftGrid" style="height: 70vh; width:100%;"
                         class="ag-theme-material"></div>
                    <!-- End:: 그리드 왼쪽 콘텐츠 그리드 AG Grid -->
                </div>
                <!-- End:: 그리드 왼쪽 콘텐츠 영역 -->

                <!-- Begin:: 그리드 콘텐츠 영역 -->
                <div class="col-7 ps-0 pe-0">
                    <div class="content p-3">
                        <!-- Begin:: 한자 관리 페이지 제목 -->
                        <div class="row">
                            <div class="col-12">
                                <h3 class="fw-semibold mb-3" style="cursor: default">
                                    한자
                                </h3>
                            </div>
                        </div>
                        <!-- End:: 한자 관리 페이지 제목 -->

                        <div class="border-bottom mb-5"></div>

                        <!-- Begin:: 한자 관리 페이지 상단 그리드 -->
                        <div class="row">
                            <!-- Begin:: 한자 관리 페이지 상단 그리드 AG Grid -->
                            <div id="myGrid" style="height: 40vh; width:100%;"
                                 class="ag-theme-material pb-3 border-bottom"></div>
                            <!-- End:: 한자 관리 페이지 상단 그리드 AG Grid -->
                        </div>
                        <!-- End:: 한자 관리 페이지 상단 그리드 -->

                        <!-- Begin:: 한자 관리 페이지 하단 그리드 Tabs navs -->
                        <ul class="nav nav-tabs mb-3" id="ex-with-icons" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="ex-with-icons-tab-1" data-mdb-toggle="tab"
                                   href="#ex-with-icons-tabs-1" role="tab"
                                   aria-controls="ex-with-icons-tabs-1" aria-selected="true">
                                    <i class="far fa-square-plus fa-fw me-2"></i>
                                    등록
                                </a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="ex-with-icons-tab-2" data-mdb-toggle="tab"
                                   href="#ex-with-icons-tabs-2" role="tab"
                                   aria-controls="ex-with-icons-tabs-2" aria-selected="false">
                                    <i class="fas fa-pen-to-square fa-fw me-2"></i>
                                    수정
                                </a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="ex-with-icons-tab-3" data-mdb-toggle="tab"
                                   href="#ex-with-icons-tabs-3" role="tab"
                                   aria-controls="ex-with-icons-tabs-3" aria-selected="false">
                                    <i class="far fa-trash-can fa-fw me-2"></i>
                                    삭제
                                </a>
                            </li>
                        </ul>
                        <!-- End:: 한자 관리 페이지 하단 그리드 Tabs navs -->

                        <!-- Begin:: 한자 관리 페이지 하단 그리드 Tabs content -->
                        <div class="tab-content" id="ex-with-icons-content">
                            <!-- Begin:: 한자 관리 페이지 하단 그리드 등록 Tab -->
                            <div class="tab-pane fade show active" id="ex-with-icons-tabs-1" role="tabpanel"
                                 aria-labelledby="ex-with-icons-tab-1">
                                <div class="row mb-3">
                                    <div class="col d-flex justify-content-end">
                                        <button name="dbUpdateBtn" class="btn btn-primary btn-sm">
                                            <i class="far fa-hard-drive me-1"></i>
                                            DB 반영
                                        </button>
                                        <button name="addRowBtn" class="btn btn-info btn-sm ms-2">
                                            <i class="fas fa-circle-plus me-1"></i>
                                            행 추가
                                        </button>
                                        <button name="deleteRowBtn" class="btn btn-danger btn-sm ms-2">
                                            <i class="fas fa-circle-minus me-1"></i>
                                            행 삭제
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- Begin:: 한자 관리 페이지 하단 그리드 등록 Tab AG Grid -->
                                    <div id="addGrid" style="height: 20vh; width:80;"
                                         class="ag-theme-material"></div>
                                    <!-- End:: 한자 관리 페이지 하단 그리드 등록 Tab AG Grid -->
                                </div>
                            </div>
                            <!-- End:: 한자 관리 페이지 하단 그리드 등록 Tab -->

                            <!-- Begin:: 한자 관리 페이지 하단 그리드 수정 Tab -->
                            <div class="tab-pane fade" id="ex-with-icons-tabs-2" role="tabpanel"
                                 aria-labelledby="ex-with-icons-tab-2">
                                <div class="row mb-3">
                                    <div class="col d-flex justify-content-end">
                                        <button name="dbUpdateBtn" class="btn btn-primary btn-sm">
                                            <i class="far fa-hard-drive me-1"></i>
                                            DB 반영
                                        </button>
                                        <button name="deleteRowBtn" class="btn btn-danger btn-sm ms-2" disabled hidden>
                                            <i class="fas fa-circle-minus me-1"></i>
                                            행 삭제
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- Begin:: 한자 관리 페이지 하단 그리드 수정 Tab AG Grid -->
                                    <div id="editGrid" style="height: 20vh; width:100%;"
                                         class="ag-theme-material"></div>
                                    <!-- End:: 한자 관리 페이지 하단 그리드 수정 Tab AG Grid -->
                                </div>
                            </div>
                            <!-- End:: 한자 관리 페이지 하단 그리드 수정 Tab -->

                            <!-- Begin:: 한자 관리 페이지 하단 그리드 삭제 Tab -->
                            <div class="tab-pane fade" id="ex-with-icons-tabs-3" role="tabpanel"
                                 aria-labelledby="ex-with-icons-tab-3">
                                <div class="row mb-3">
                                    <div class="col d-flex justify-content-end">
                                        <button name="dbUpdateBtn" class="btn btn-primary btn-sm">
                                            <i class="far fa-hard-drive me-1"></i>
                                            DB 반영
                                        </button>
                                        <button name="deleteRowBtn" class="btn btn-danger btn-sm ms-2" disabled hidden>
                                            <i class="fas fa-circle-minus me-1"></i>
                                            행 삭제
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- Begin:: 한자 관리 페이지 하단 그리드 삭제 Tab AG Grid -->
                                    <div id="deleteGrid" style="height: 20vh; width:100%;"
                                         class="ag-theme-material"></div>
                                    <!-- End:: 한자 관리 페이지 하단 그리드 삭제 Tab AG Grid -->
                                </div>
                            </div>
                            <!-- End:: 한자 관리 페이지 하단 그리드 삭제 Tab -->
                        </div>
                        <!-- End:: 한자 관리 페이지 하단 그리드 Tabs content -->
                    </div>
                </div>
                <!-- End:: 그리드 콘텐츠 영역 -->
            </div>

        </div>
        <!-- End:: 그리드 영역 -->
    </div>
</div>

<!-- Begin:: Bootstrap 5 MDB -->
<div th:replace="fragments/FRACOM00 :: BOOTSTRAP"></div>
<!-- End:: Bootstrap 5 MDB -->
</body>

<!--
    https://www.ag-grid.com/javascript-data-grid/getting-started/
-->
<script type="text/javascript">
    // ──────────────────────────────────────────────────────────────────────────────────────────────
    // 관리자 페이지 필터 영역

    // 필터 초기 설정
    function filterInit() {
        const selectElements = document.querySelectorAll('select');

        selectElements.forEach(selectElement => {
            selectElement.value = "";
        });
    }

     // 검색 실행 시
    function filterSearch() {
        const leftGridApi = leftGridOptions.api;
        const topGridApi = gridOptions.api;
        const selectFilterVocabulary = document.getElementById("selectFilterVocabulary");
        const selectedVocabulary = vocabularyList.find(vocabulary => vocabulary.title === selectFilterVocabulary.value);

        if (selectedVocabulary) {
            fetchLeftData(selectedVocabulary.id);
        } else {
             console.log(selectFilterVocabulary.value);
             leftGridApi.deselectAll();
             leftGridApi.setGridOption('rowData', []);
        }

        // filter 옵션 변경 시 그리드 초기화
        leftGridApi.addEventListener('rowDataUpdated', function() {
            topGridApi.setGridOption('rowData', []);
        });
    }

    // GET API로 필터 옵션 조회
    function fetchFilterData() {
        const apiUrl = 'http://localhost:8000/api/vocabulary';

        fetch(apiUrl)
            .then(response => {
                if (!response.ok) {
                    throw new Error(`${response.status} ${response.statusText}`);
                }
                return response.json();
            })
            .then(data => {
                vocabularyList = Array.isArray(data.content) ? data.content : [];
                addSelectOptions(vocabularyList.map(entry => entry.title));
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    // SelectBox에 옵션 추가 함수
    function addSelectOptions(options) {
        const selectFilterVocabulary = document.getElementById("selectFilterVocabulary");

        // API에서 가져온 title 옵션으로 추가
        options.forEach(function (title) {
            const optionElement = document.createElement("option");
            optionElement.value = title;
            optionElement.text = title;
            selectFilterVocabulary.appendChild(optionElement);
        });
    }



    // ──────────────────────────────────────────────────────────────────────────────────────────────
    // 관리자 페이지 좌측 그리드

    // 부모 그리드 컬럼 설정
    const leftColumnDefs = [
        {
            pinned: "left",
            sortable: false,
            filter: false,
            resizable: false,
            checkboxSelection: true,
            // multiple 선택 시 필요
            headerCheckboxSelection: false,
            width: 80,
        },
        {headerName: "#", field: "id", width: 60, cellDataType: 'number',},
        {headerName: "CATEGORY", field: "subject", width: 175},
    ];

    // 부모 그리드 컬럼 옵션
    const leftDefaultColDef = {
        editable: false,
        sortable: true,
        filter: true,
        resizable: true,
        floatingFilter: false,
    }

    // 부모 그리드 초기 데이터
    const leftRowData = [];

    // 부모 그리드 전체 옵션
    const leftGridOptions = {
        columnDefs: leftColumnDefs,
        rowData: leftRowData,
        defaultColDef: leftDefaultColDef,
        suppressRowClickSelection: true,
        groupSelectsChildren: false,
        readOnlyEdit: true,

        // 셀 선택 이벤트 핸들러
        onRowSelected: onRowSelected,

        // 체크박스 단일, 다중 선택 옵션
        rowSelection: 'single', // single, multiple
        pagination: false,
    };

    // Category 조회 함수
    function fetchLeftData(id) {
        const apiUrl = `http://localhost:8000/api/vocabulary/${id}/categories`;

        fetch(apiUrl)
            .then(response => {
                if (!response.ok) {
                    throw new Error(`${response.status} ${response.statusText}`);
                }
                return response.json();
            })
            .then(data => {
                leftGridOptions.api.setGridOption('rowData', data.content);
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }


    // ──────────────────────────────────────────────────────────────────────────────────────────────
    // 관리자 페이지 상단 그리드

    const columnDefs = [
        {
            pinned: "left",
            sortable: false,
            filter: false,
            resizable: false,
            checkboxSelection: true,
            headerCheckboxSelection: true,
            width: 80,
        },
        {headerName: "#", field: "id", width: 60, cellDataType: 'number',},
        {headerName: "NAME", field: "name", width: 120,},
        {headerName: "MEANING", field: "meaning", width: 200,},
        {headerName: "SOUND", field: "sound",  width: 200,},
        {headerName: "STROKE", field: "strokeCount", width: 150,
            valueFormatter: function(params) {
                if (params.value) {
                    return parseFloat(params.value);
                } else if (typeof params.value != 'number' || isNaN(params.value)) {
                    return '';
                }
            },
            cellDataType: 'number',
        },
    ];

    const defaultColDef = {
        editable: false,
        sortable: true,
        filter: true,
        resizable: true,
        floatingFilter: true,
        width: 110,
    }

    const rowData = [];

    const gridOptions = {
        columnDefs: columnDefs,
        rowData: rowData,
        defaultColDef: defaultColDef,
        suppressRowClickSelection: true,
        groupSelectsChildren: true,
        onRowSelected: onRowSelected,
        rowSelection: 'multiple',
        pagination: true,
        localeText: {
            noRowsToShow: 'No Rows',
        },
    };

    // GET API로 좌측 그리드에서 선택한 category의 자식 kanji 조회
    function fetchData(id) {
        const apiUrl = `http://localhost:8000/api/categories/${id}/kanjis`;

        fetch(apiUrl)
             .then(response => {
                if (!response.ok) {
                    throw new Error(`${response.status} ${response.statusText}`);
                }
                return response.json();
            })
            .then(data => {
                gridOptions.api.setGridOption('rowData', data.content);
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    // ──────────────────────────────────────────────────────────────────────────────────────────────
    // 관리자 페이지 하단 그리드 등록 Tab

     const addColumnDefs = [
         {
             pinned: "left",
             sortable: false,
             filter: false,
             resizable: false,
             editable: false,
             checkboxSelection: true,
             headerCheckboxSelection: true,
             width: 80,
         },
         {headerName: "NAME", field: "name", width: 150,},
         {headerName: "MEANING", field: "meaning", width: 200,},
         {headerName: "SOUND", field: "sound",  width: 200,},
         {headerName: "STROKE", field: "strokeCount", width: 150,
             valueFormatter: function(params) {
                 if (params.value) {
                     return parseFloat(params.value);
                 } else if (typeof params.value != 'number' || isNaN(params.value)) {
                     return '';
                 }
             },
             cellDataType: 'number',
        },
    ];

    const addDefaultColDef = {
        editable: true,
        sortable: true,
        filter: true,
        resizable: true,
        floatingFilter: false,
        width: 110,
    }

    const addRowData = [];

    const addGridOptions = {
        columnDefs: addColumnDefs,
        rowData: addRowData,
        defaultColDef: addDefaultColDef,
        suppressRowClickSelection: true,
        groupSelectsChildren: true,
        rowSelection: 'multiple',
        pagination: false,
        localeText: {
            noRowsToShow: 'No Rows',
        },
    };


    // 행 추가
    document.getElementsByName("addRowBtn")[0].addEventListener('click',addNewRow);

    function addNewRow() {
        const newRow = {};
        const GridApi = addGridOptions.api;
        GridApi.applyTransaction({add: [newRow]});
    }

    // 행 삭제
    document.getElementsByName("deleteRowBtn")[0].addEventListener('click',addGridDeleteRow);

    function addGridDeleteRow() {
        const gridApi = addGridOptions.api;
        const selectedRows = gridApi.getSelectedRows();
        gridApi.applyTransaction({remove: selectedRows});
    }


    // DB 반영
    // 좌측 그리드 선택된 행 ID
    var selectedRowId;

    document.getElementsByName("dbUpdateBtn")[0].addEventListener('click', function() {
        addGridUpdateRow(selectedRowId);
    });

    function addGridUpdateRow(id) {
        const gridApi = addGridOptions.api;
        const allRowsData = gridApi.getModel().rowsToDisplay.map(row => row.data);
        const selectedRowId = id;

        // 서버로 데이터 전송
        fetch(`http://localhost:8000/api/categories/${id}/kanjis`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(allRowsData),
        })
        .then(data => {
            if (data.ok) {
                console.log('Response Data:', data);
                gridApi.applyTransaction({ remove: allRowsData });
                fetchData(selectedRowId);
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }

    // ──────────────────────────────────────────────────────────────────────────────────────────────
    // 관리자 페이지 하단 그리드 수정 Tab


    const editColumnDefs = [
        {
            hide: true,
            pinned: "left",
            sortable: false,
            filter: false,
            resizable: false,
            editable: false,
            checkboxSelection: false,
            headerCheckboxSelection: false,
            width: 80,
        },
        {headerName: "#", field: "id", width: 80, editable: false, cellDataType: 'number',
            cellStyle: {'background-color': '#F4F4F4'}},
        {headerName: "NAME", field: "name", width: 150,},
        {headerName: "MEANING", field: "meaning", width: 200,},
        {headerName: "SOUND", field: "sound",  width: 200,},
        {headerName: "STROKE", field: "strokeCount", width: 150,
            valueFormatter: function(params) {
                if (params.value) {
                    return parseFloat(params.value);
                } else if (typeof params.value != 'number' || isNaN(params.value)) {
                    return '';
                }
            },
            cellDataType: 'number',
        },
    ];


    const editDefaultColDef = {
        editable: true,
        sortable: true,
        filter: true,
        resizable: true,
        floatingFilter: false,
        width: 110,
    }

    const editRowData = [];

    const editGridOptions = {
        columnDefs: editColumnDefs,
        rowData: editRowData,
        defaultColDef: editDefaultColDef,
        suppressRowClickSelection: true,
        groupSelectsChildren: true,
        rowSelection: 'multiple',
        pagination: false,
        localeText: {
            noRowsToShow: 'No Rows',
        },
    };


    // DB 반영
    document.getElementsByName("dbUpdateBtn")[1].addEventListener('click', function() {
        editGridUpdateRow(selectedRowId);
    });

    function editGridUpdateRow(id) {
        const selectedRowId = id;
        const editGridApi = editGridOptions.api;
        const deleteGridApi = deleteGridOptions.api;
        const apiUrl = `http://localhost:8000/api/kanjis`;

        const allRowsData = editGridApi.getModel().rowsToDisplay.map(row => row.data);
        const updateRowData = allRowsData.map(rowData => {
            return {
                ...rowData,
                categoryId: selectedRowId
            };
        });

        // 서버로 데이터 전송
        fetch(apiUrl, {
            method: 'PATCH',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(updateRowData),
        })
        .then(data => {
            if(data.ok) {
                console.log('Response Data:', data);
                editGridApi.applyTransaction({ remove: allRowsData });
                deleteGridApi.applyTransaction({ remove: allRowsData });
                fetchData(selectedRowId);
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }

    // ──────────────────────────────────────────────────────────────────────────────────────────────
    // 관리자 페이지 하단 그리드 삭제 Tab

        const deleteColumnDefs = [
        {
            hide: true,
            pinned: "left",
            sortable: false,
            filter: false,
            resizable: false,
            checkboxSelection: false,
            headerCheckboxSelection: false,
            width: 80,
        },
        {headerName: "#", field: "id", width: 80, cellDataType: 'number',},
        {headerName: "NAME", field: "name", width: 150,},
        {headerName: "MEANING", field: "meaning", width: 200,},
        {headerName: "SOUND", field: "sound",  width: 200,},
        {headerName: "STROKE", field: "strokeCount", width: 150,
            valueFormatter: function(params) {
                if (params.value) {
                    return parseFloat(params.value);
                } else if (typeof params.value != 'number' || isNaN(params.value)) {
                    return '';
                }
            },
            cellDataType: 'number',
        },
    ];

    const deleteDefaultColDef = {
        editable: false,
        sortable: true,
        filter: true,
        resizable: true,
        floatingFilter: false,
        width: 110,
    }

    const deleteRowData = [];

    const deleteGridOptions = {
        columnDefs: deleteColumnDefs,
        rowData: deleteRowData,
        defaultColDef: deleteDefaultColDef,
        suppressRowClickSelection: true,
        groupSelectsChildren: true,
        rowStyle: { background: '#F4F4F4' },
        rowSelection: 'multiple',
        pagination: false,
        localeText: {
            noRowsToShow: 'No Rows',
        },
    };

    // 행 삭제
    // 삭제 Rows 저장 변수
    var deletedRows;

    document.getElementsByName("deleteRowBtn")[2].addEventListener('click',deleteGridDeleteRow);

    function deleteGridDeleteRow() {
        const gridApi = deleteGridOptions.api;
        const selectedRows = gridApi.getSelectedRows();
        gridApi.applyTransaction({remove: selectedRows});
    }

    // DB 반영
    document.getElementsByName("dbUpdateBtn")[2].addEventListener('click',function() {
        deleteGridUpdateRow(selectedRowId);
    });

    function deleteGridUpdateRow(id) {
        const selectedRowId = id;
        const editGridApi = editGridOptions.api;
        const deleteGridApi = deleteGridOptions.api;
        const allRowsData = deleteGridApi.getModel().rowsToDisplay;
        const idList = allRowsData.map(row => row.data.id);

        // 서버로 데이터 전송
        fetch('http://localhost:8000/api/kanjis', {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ idList }),
        })
        .then(response => {
            if(response.ok) {
                console.log('Response Data:', response);
                editGridApi.setGridOption('rowData', []);
                deleteGridApi.setGridOption('rowData', []);
                fetchData(id);
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }

    // ──────────────────────────────────────────────────────────────────────────────────────────────
    // 공통

    // 상단 그리드의 selectedRowData 를 가져오는 함수
    function getGridRowData() {
        var api = gridOptions.api
        var selectedRows = api.getSelectedRows();
        return selectedRows;
    }


    // 셀 선택 이벤트 함수
    function onRowSelected(event) {
        const topGridApi = gridOptions.api;
        const editGridApi = editGridOptions.api;
        const deleteGridApi = deleteGridOptions.api;
        const leftGridApi = leftGridOptions.api;
        const selectedId = event.data.id;


        // 좌측 그리드 선택 시
        if (event.api == leftGridApi) {
            if (event.node.isSelected()) {
                selectedRowId = selectedId;
                fetchData(selectedRowId);

                // 선택 변경 시 초기화
                leftGridApi.addEventListener('selectionChanged', function() {
                    topGridApi.deselectAll();
                });
            }
            // 선택된 행이 없으면 초기화
            if (leftGridApi.getSelectedRows().length === 0) {
                topGridApi.deselectAll();
                topGridApi.setGridOption('rowData', []);
            }
        // 상단 그리드 선택 시
        } else if (event.api == topGridApi) {
            handleTopGridSelection(event, editGridApi, deleteGridApi);
        }
    }

    // 상단 그리드 선택 시, 하단 그리드 rowData 설정
    function handleTopGridSelection(event, editGridApi, deleteGridApi) {
        const selectedRowData = getGridRowData();
        editGridApi.setRowData(selectedRowData);
        deleteGridApi.setRowData(selectedRowData);
    }

    // ──────────────────────────────────────────────────────────────────────────────────────────────
    // 그리드 로딩

    document.addEventListener('DOMContentLoaded', () => {
        const gridDiv = document.querySelector('#myGrid');
        const addGridDiv = document.querySelector("#addGrid");
        const leftGridDiv = document.querySelector("#leftGrid")
        const editGridDiv = document.querySelector("#editGrid");
        const deleteGridDiv = document.querySelector("#deleteGrid");

        new agGrid.Grid(gridDiv, gridOptions);
        new agGrid.Grid(addGridDiv, addGridOptions);
        new agGrid.Grid(leftGridDiv, leftGridOptions);
        new agGrid.Grid(editGridDiv, editGridOptions);
        new agGrid.Grid(deleteGridDiv, deleteGridOptions);

        // 필터 데이터 조회
        fetchFilterData();
    });
</script>

</html>